<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
	<title>Hello</title>
<link href="/static/css/dashboard.min.css" rel="stylesheet"></head>
<body>
	<div class="<% if (cookies.theme) { %><%= cookies.theme %> <% } else { %><% } %>view-dashboard inheritBaseFontSize container">
    <header class="header">
			<div class="wrapper">
				<div class="container">
					<p class="global-metrics global-metrics__market-cap">Market Cap: $
						<span class="global-metrics__value">
							<% const marketCap = getGlobalMetrics.data.quote.USD.total_market_cap %>
							<%= Number(marketCap).toLocaleString() %>
						</span>
					</p>
					<p class="global-metrics global-metrics__24h-volume">24h Volume: $
						<span class="global-metrics__value">
							<% const volume24H = getGlobalMetrics.data.quote.USD.total_volume_24h %>
							<%= Number(volume24H).toLocaleString() %>
						</span>
					</p>
					<p class="global-metrics global-metrics__btc-dominance">BTC Dominance:&nbsp;<span class="global-metrics__value"><%= getGlobalMetrics.data.btc_dominance %>%</span></p>
					<p class="global-metrics global-metrics__cryptocurrencies">Cryptocurrencies:&nbsp;<span class="global-metrics__value"><%= getGlobalMetrics.data.active_cryptocurrencies %></span></p>
				</div>
			</div>
		</header>
		<nav class="menu">
			<div class="wrapper">
				<div class="search">
					<input class="search__input" type="text" placeholder="Search">
					<a class="btn-search" href="#"></a>
				</div>
				<ul class="menu-list">
					<li class="menu-list-item"><% if(cookies.lang) { %><%= cookies.lang.dashboard.menu.user %><% } else { %>Hello<% } %> <%= user.username %></li>
					<li class="menu-list-item"><a class="menu-list-item__link-home" href="#"><% if(cookies.lang) { %><%= cookies.lang.dashboard.menu.home %><% } else { %>Home<% } %></a></li>
					<li class="menu-list-item"><a class="menu-list-item__link-logout" href="#"><% if(cookies.lang) { %><%= cookies.lang.dashboard.menu.logout %><% } else { %>Logout<% } %></a></li>
				</ul>
			</div>
		</nav>
		<main class="main">
			<ul class="dashboard-table">
				<div class="wrapper">
					<ul class="dashboard-nav">
						<ul class="dashboard-group">
							<li class="dashboard-pagination">
								<button class="btn-pg btn-next"><% if(cookies.lang) { %><%= cookies.lang.dashboard.table.buttons.next %><% } else { %>next<% } %></button>
								<button class="btn-pg btn-prev"><% if(cookies.lang) { %><%= cookies.lang.dashboard.table.buttons.prev %><% } else { %>prev<% } %></button>
							</li>
							<li class="dashboard-group__item"><figure class="dashboard-group__media"><img src="/static/img/icons/<%= getSearch[0].slug %>.png" class="dashboard-group__img" alt="bitcoin"></figure><span class="text-margin"><%= getSearch[0].name %></span></li>
						</ul>
					</ul>
					<ul class="dashboard-content">
						<ul class="dashboard-group">
							<h3 class="dashboard-filter-name dashboard-filter__market-cap"><% if(cookies.lang) { %><%= cookies.lang.dashboard.table.filters.marketCap %><% } else { %>Market Cap<% } %><span class="dropdown"></span></h3>
							<li class="dashboard-group__item">
								$&nbsp;<%= Number(getSearch[0].quote.USD.market_cap).toLocaleString() %>
							</li>
						</ul>
						<ul class="dashboard-group">
							<h3 class="dashboard-filter-name dashboard-filter__price"><% if(cookies.lang) { %><%= cookies.lang.dashboard.table.filters.price %><% } else { %>Price<% } %> <span class="dropdown"></span></h3>
							<li class="dashboard-group__item">$&nbsp;<%= Number(getSearch[0].quote.USD.price).toLocaleString() %></li>
						</ul>
						<ul class="dashboard-group">
							<h3 class="dashboard-filter-name dashboard-filter__volume-24h"><% if(cookies.lang) { %><%= cookies.lang.dashboard.table.filters.volume %><% } else { %>Volume (24h)<% } %> <span class="dropdown"></span></h3>
							<li class="dashboard-group__item">$&nbsp;<%= Number(getSearch[0].quote.USD.volume_24h).toLocaleString() %></li>
						</ul>
						<ul class="dashboard-group">
							<h3 class="dashboard-filter-name dashboard-filter__circulating-supply"><% if(cookies.lang) { %><%= cookies.lang.dashboard.table.filters.circulatingSupply %><% } else { %>Circulating Supply<% } %> <span class="dropdown"></span></h3>
							<li class="dashboard-group__item"><%= Number(getSearch[0].circulating_supply).toLocaleString() %>&nbsp;<%= getSearch[0].symbol %></li>
						</ul>
						<ul class="dashboard-group">
							<h3 class="dashboard-filter-name dashboard-filter__change-24h"><% if(cookies.lang) { %><%= cookies.lang.dashboard.table.filters.change %><% } else { %>Change (24h)<% } %> <span class="dropdown"></span></h3>
							<li class="dashboard-group__item <% if(String(getSearch[0].quote.USD.percent_change_24h).indexOf('-')) { %> positive-percent <% } else { %> negative-percent <% } %>"><%= Number(getSearch[0].quote.USD.percent_change_24h).toFixed(2) %></li>
						</ul>
					</ul>
				</div>
			</ul>
		</main>
	</div>
<script src="/static/js/dashboard.bundle.js"></script></body>
</html>
